@model PulseImageProject.Models.ImageViewModel

@{
    ViewData["Title"] = "Upload Image";
}

<h4>Upload Image</h4>
<hr />
<div class="alert alert-dismissable fade show" role="alert" hidden>
    <span class="alert-msg"></span>
    <button type="button" class="close" onclick="$(this).parent().hide();">
        <span>&times;</span>
    </button>
</div>
<div class="row">
    <div class="col-md-4">
        <form id="imageForm" method="post" enctype="multipart/form-data" action="/home/save">
            <div class="form-group">
                <label for="Title" class="control-label">Title</label>
                <input id="title" name="title" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="ImageFile" class="control-label">Upload Image</label>
                <input id="imageFile" class="form-control-file" name="imageFile" type="file" accept="image/*"/>
            </div>
            <div class="form-group">
                <input type="submit" id="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<script src="~/js/image-module/form-validation.js"></script>
<script src="~/js/utility.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        $('#submit').click(function(e) {

            if($('#imageForm').valid()) {

                // Create FormData object to store the field values
                var formData = new FormData();
                formData.append('title', $('#title').val());
                formData.append('imageFile', $('#imageFile')[0].files[0]);

                $('#submit').attr('disabled', 'disabled');

                // Call the Post method using AJAX
                $.ajax({
                    type: 'post',
                    url: $('#imageForm').attr('action'),
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        $('#submit').removeAttr('disabled');
                        if(response.result == true) {
                            notify("success", response.message);
                            $('#imageForm')[0].reset();
                        }
                        else {
                            $('#submit').removeAttr('disabled');
                            notify("error", response.message);
                        }
                    }
                    ,
                    error: function (data) {
                        notify();
                    }
                });
            }
        });

    });
</script>
